<section class="contact-bar">
    <div class="heading d-flex justify-content-between">
        <div class="ham-burger d-flex">
            <button type="button" class="btn btn-l btn-light">
                <em class="fa fa-bars"></em>
            </button>
            <h2 class="ms-3 d-flex align-items-center">Contacts</h2>
        </div>
        <div class="paginations">
            <button type="button" class="btn btn-l btn-light">
                <em class="fa fa-angle-left"></em>
            </button>
            <button type="button" class="btn btn-l btn-light ms-2">
                <em class="fa fa-angle-right"></em>
            </button>
        </div>
    </div>
</section>